In [ ]:
import nltk
nltk.download('book')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

[nltk_data] Downloading collection 'book'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection book

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Corona_NLP_test.csv to Corona_NLP_test.csv

In [ ]:
import io
tweet = pd.read_csv(io.BytesIO(uploaded['Corona_NLP_test.csv']))

In [ ]:
tweet

      UserName  ...           Sentiment
0            1  ...  Extremely Negative
1            2  ...            Positive
2            3  ...  Extremely Positive
3            4  ...            Negative
4            5  ...             Neutral
...        ...  ...                 ...
3793      3794  ...            Positive
3794      3795  ...            Negative
3795      3796  ...             Neutral
3796      3797  ...  Extremely Negative
3797      3798  ...  Extremely Positive

[3798 rows x 6 columns]

In [ ]:
tweet.isnull().sum()

UserName           0
ScreenName         0
Location         834
TweetAt            0
OriginalTweet      0
Sentiment          0
dtype: int64

In [ ]:
x = tweet[['OriginalTweet']]

In [ ]:
from nltk import word_tokenize
x['OriginalTweet'] = x['OriginalTweet'].apply(word_tokenize)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x

                                          OriginalTweet
0     [TRENDING, :, New, Yorkers, encounter, empty, ...
1     [When, I, could, n't, find, hand, sanitizer, a...
2     [Find, out, how, you, can, protect, yourself, ...
3     [#, Panic, buying, hits, #, NewYork, City, as,...
4     [#, toiletpaper, #, dunnypaper, #, coronavirus...
...                                                 ...
3793  [Meanwhile, In, A, Supermarket, in, Israel, --...
3794  [Did, you, panic, buy, a, lot, of, non-perisha...
3795  [Asst, Prof, of, Economics, @, cconces, was, o...
3796  [Gov, need, to, do, somethings, instead, of, b...
3797  [I, and, @, ForestandPaper, members, are, comm...

[3798 rows x 1 columns]

In [ ]:
list = []
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
for i in range(0,len(x)):
    list.append([stemmer.stem(text) for text in x['OriginalTweet'][i]])

In [ ]:
list[0]

['trend',
 ':',
 'new',
 'yorker',
 'encount',
 'empti',
 'supermarket',
 'shelv',
 '(',
 'pictur',
 ',',
 'wegman',
 'in',
 'brooklyn',
 ')',
 ',',
 'sold-out',
 'onlin',
 'grocer',
 '(',
 'foodkick',
 ',',
 'maxdeliveri',
 ')',
 'as',
 '#',
 'coronavirus-fear',
 'shopper',
 'stock',
 'up',
 'http',
 ':',
 '//t.co/gr76pcrlwh',
 'http',
 ':',
 '//t.co/ivmkmsqdt1']

In [ ]:
x['OriginalTweet'] = list

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
x

                                          OriginalTweet
0     [trend, :, new, yorker, encount, empti, superm...
1     [when, I, could, n't, find, hand, sanit, at, f...
2     [find, out, how, you, can, protect, yourself, ...
3     [#, panic, buy, hit, #, newyork, citi, as, anx...
4     [#, toiletpap, #, dunnypap, #, coronaviru, #, ...
...                                                 ...
3793  [meanwhil, In, A, supermarket, in, israel, --,...
3794  [did, you, panic, buy, a, lot, of, non-perish,...
3795  [asst, prof, of, econom, @, cconc, wa, on, @, ...
3796  [gov, need, to, do, someth, instead, of, biar,...
3797  [I, and, @, forestandpap, member, are, commit,...

[3798 rows x 1 columns]

In [ ]:
y = tweet[['Sentiment']]
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
y['Sentiment'] = encoder.fit_transform(y[['Sentiment']])
y['Sentiment']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0       0.0
1       4.0
2       1.0
3       2.0
4       3.0
       ...
3793    4.0
3794    2.0
3795    3.0
3796    0.0
3797    1.0
Name: Sentiment, Length: 3798, dtype: float64

In [ ]:
y

      Sentiment
0           0.0
1           4.0
2           1.0
3           2.0
4           3.0
...         ...
3793        4.0
3794        2.0
3795        3.0
3796        0.0
3797        1.0

[3798 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x['OriginalTweet'],y['Sentiment'], test_size=0.2,random_state=53)

In [ ]:
X_train=X_train.apply(lambda x: ' '.join(x))
X_test=X_test.apply(lambda x: ' '.join(x))

In [ ]:
X_test

1285    groceri store in # hamilton out of stock of ri...
778     whi doe the @ washingtonpost have such shitti ...
1198    had to take a high dose # cbd capsul today due...
1288    uh-oh , no spaghettio . panic buy at thi san d...
1833    @ realdonaldtrump @ cdcgov @ realdonaldtrump &...
                              ...
1941    complianc is a key issu for success beat # cov...
1176    with the groceri store shelv get bare what are...
273     # jamaica , sorri to burst your bubbl but # ly...
1664    Me and my dad want to buy some bread at a groc...
1818    # blackfriday We need @ narendramodi ji and @ ...
Name: OriginalTweet, Length: 760, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english',max_features=1000,ngram_range=(1,2))
X_train_count = vectorizer.fit_transform(X_train)
X_test_count = vectorizer.transform(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)
prediction_countV = model.predict(X_test_count)
accuracy_score(y_test,prediction_countV)
prediction_countV

array([3., 2., 2., 0., 0., 4., 0., 1., 3., 0., 1., 2., 4., 2., 2., 1., 2.,
       2., 0., 0., 3., 3., 1., 3., 4., 4., 0., 3., 3., 4., 0., 4., 3., 2.,
       4., 1., 0., 2., 0., 1., 4., 2., 4., 4., 4., 3., 2., 2., 2., 3., 4.,
       3., 4., 1., 2., 2., 4., 4., 3., 1., 0., 0., 4., 3., 1., 0., 2., 3.,
       2., 2., 3., 2., 2., 2., 0., 1., 4., 4., 1., 2., 1., 1., 1., 3., 4.,
       2., 2., 0., 3., 0., 4., 4., 4., 3., 2., 3., 4., 4., 3., 2., 4., 4.,
       3., 4., 4., 3., 3., 0., 4., 4., 1., 2., 4., 0., 1., 2., 2., 1., 0.,
       3., 3., 2., 4., 2., 1., 2., 3., 1., 3., 3., 1., 1., 0., 1., 4., 2.,
       2., 2., 4., 4., 0., 3., 1., 0., 3., 0., 2., 0., 2., 1., 4., 3., 4.,
       1., 2., 0., 3., 3., 3., 4., 1., 2., 2., 2., 0., 3., 4., 2., 0., 0.,
       4., 2., 4., 2., 1., 2., 2., 3., 4., 4., 2., 3., 2., 2., 3., 1., 4.,
       4., 3., 0., 2., 2., 0., 0., 4., 4., 4., 2., 2., 4., 2., 2., 0., 0.,
       0., 2., 1., 1., 2., 0., 2., 1., 1., 1., 1., 3., 0., 3., 4., 4., 3.,
       4., 2., 1., 2., 2., 2., 3., 4., 2., 2., 4., 4., 4., 3., 2., 2., 4.,
       1., 3., 1., 4., 2., 4., 2., 4., 3., 2., 4., 3., 2., 1., 4., 3., 2.,
       3., 4., 0., 3., 3., 3., 3., 4., 0., 4., 1., 3., 2., 3., 0., 1., 1.,
       0., 3., 2., 3., 0., 4., 3., 1., 2., 3., 0., 3., 1., 3., 4., 4., 3.,
       3., 2., 3., 2., 1., 2., 1., 3., 2., 0., 2., 4., 3., 1., 2., 4., 2.,
       0., 4., 2., 0., 2., 2., 2., 2., 4., 3., 1., 2., 4., 3., 0., 4., 3.,
       4., 3., 3., 2., 3., 3., 1., 3., 0., 3., 3., 3., 4., 2., 2., 3., 3.,
       0., 3., 3., 0., 0., 1., 2., 4., 1., 4., 1., 4., 1., 1., 3., 4., 0.,
       4., 2., 2., 3., 0., 4., 4., 2., 4., 4., 3., 1., 4., 4., 4., 2., 1.,
       4., 0., 2., 0., 1., 3., 0., 4., 0., 2., 2., 0., 2., 1., 4., 2., 0.,
       4., 2., 0., 0., 2., 1., 4., 1., 1., 4., 2., 1., 0., 0., 3., 0., 2.,
       1., 4., 3., 3., 2., 4., 2., 2., 2., 4., 4., 4., 4., 0., 4., 0., 3.,
       0., 4., 0., 1., 1., 2., 4., 2., 4., 4., 3., 4., 0., 0., 2., 4., 3.,
       2., 4., 1., 4., 3., 2., 0., 2., 3., 4., 3., 2., 0., 3., 3., 3., 4.,
       2., 4., 1., 0., 2., 3., 0., 2., 4., 3., 2., 0., 3., 3., 3., 4., 2.,
       4., 0., 3., 4., 0., 2., 3., 2., 3., 2., 3., 2., 1., 0., 1., 0., 2.,
       0., 0., 4., 1., 4., 2., 1., 0., 4., 0., 2., 2., 2., 1., 3., 4., 1.,
       1., 3., 2., 3., 1., 2., 4., 3., 3., 3., 1., 4., 3., 1., 4., 4., 2.,
       1., 4., 0., 2., 4., 1., 0., 4., 4., 0., 2., 2., 3., 1., 3., 4., 3.,
       2., 2., 1., 2., 4., 2., 3., 3., 4., 2., 4., 1., 0., 0., 4., 4., 1.,
       4., 2., 3., 0., 4., 2., 3., 1., 0., 2., 3., 1., 2., 2., 2., 1., 4.,
       1., 1., 3., 0., 3., 3., 4., 4., 4., 1., 3., 0., 0., 4., 1., 1., 4.,
       2., 2., 2., 4., 0., 4., 1., 3., 0., 4., 4., 1., 2., 3., 4., 2., 1.,
       1., 4., 1., 1., 4., 2., 2., 1., 1., 4., 4., 1., 3., 2., 2., 4., 2.,
       1., 2., 3., 4., 3., 0., 4., 2., 2., 4., 0., 1., 4., 2., 4., 4., 3.,
       2., 1., 0., 2., 0., 2., 4., 0., 4., 1., 3., 0., 4., 2., 1., 2., 2.,
       1., 4., 4., 0., 3., 2., 4., 2., 3., 3., 1., 1., 0., 3., 2., 1., 4.,
       0., 4., 3., 4., 0., 0., 3., 2., 3., 2., 3., 4., 0., 0., 3., 1., 2.,
       2., 0., 3., 3., 3., 2., 2., 3., 1., 0., 0., 2., 0., 3., 2., 4., 2.,
       3., 2., 1., 4., 4., 1., 1., 3., 0., 3., 2., 4., 0., 0., 1., 4., 4.,
       1., 2., 3., 0., 4., 3., 2., 1., 1., 3., 1., 3., 0., 3., 2., 3., 2.,
       2., 1., 4., 2., 0., 1., 0., 2., 3., 2., 0., 0.])

In [ ]:
y_test

1285    2.0
778     2.0
1198    2.0
1288    0.0
1833    0.0
       ...
1941    2.0
1176    3.0
273     0.0
1664    0.0
1818    2.0
Name: Sentiment, Length: 760, dtype: float64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df =0.1,max_df=1.0)
X_train_tf = vectorizer.fit_transform(X_train)
X_test_tf = vectorizer.transform(X_test)

In [ ]:
model = MultinomialNB()
model.fit(X_train_tf,y_train)
prediction_countV = model.predict(X_test_tf)
accuracy_score(y_test,prediction_countV)

0.3